* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300&display=swap');


body {
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

.navbar {
    background-color: #D9D9D980;
    height: 89px;
    padding: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 500 16px "Poppins";
    color: #282828;



    .logo {
        display: flex;
gap: 15px;

        .logo_span {
            position: relative;
            top: 12px;
            left: 10px;
        }

    }

    .logo_name {
        color: #282828;
        font: 500 2rem "Poppins";
    }


    .menus {
        ul {
            display: flex;
            gap: 4rem;
            align-items: center;



            li {
                list-style-type: none;
                color: #000000;



                .downarrow {
                    position: absolute;
                    top: 32px;
                    margin-left: 5px;
                }
            }

        }

    }

    .login {
        display: flex;
        gap: 2rem;
        align-items: center;
        color: #000000;

        .demo {
            background-color: #2A0896;
            // padding: 30px 40px;
            height: 50px;
            width: 196px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 30px;
        }

    }

}


.home {
    height: 100%;
    width: 100vw;
    // padding: 5rem 15rem;
    padding: 5rem 15rem 0 15rem;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow: hidden;


    .about {
        height: 184px;

        // width: 995px;
        p {

            font: 500 70px "Poppins";
            text-transform: capitalize;
            line-height: 100px;
            color: #282828;
            text-align: center;

            >span {
                color: #000000;
                // text-transform: uppercas;
                font-weight: 700;
                font-family: "Poppins";
            }


        }
    }

    .para {
        margin: 0 auto;
        width: 602px;
        // font-family: Poppins;

        font: 500 22px "Poppins";
        // font-size: 22px;
        // font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;

    }

    .start {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        /* identical to box height */
        text-transform: capitalize;
display: flex;
justify-content:center ;
align-items: center;
gap: 5px;

        color: #000000;
    }

    .gradient {

        position: relative;
        overflow: hidden;
        width: 1712.34px;

        height: 600px;
        left: 1px;
        top: 24px;

        background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
        border-radius: 30px;
        transform: rotate(7.43deg);
        animation: change 5s linear infinite alternate backwards;;

    }


    @keyframes change {
        0% {
            // background:#87CEFA;
           background:  linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
            // background-position: 0 0;
        }

        100% {
            background: linear-gradient(90.51deg, #2A0896 3.78%, #87CEFA 96.65%);
            // background:#87CEFA;
            // background-position: 100% 0;
        }
    }















    .card {
        position: relative;
        display: flex;

        width: 1240px;
        height: 620px;
       
       bottom: 39rem;
        overflow: hidden;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 29px;

        .leftside {
            flex: 0.8;
display: flex;
gap: 10px;
justify-content: space-between;
padding-top: 30px;
.verticleLine{
    height: 88%;
    margin-top: 42px;
    border-right: 1px solid #AAA6A6;
    position: relative;
    bottom: 42px;
}


            .innerLeft{
            // overflow: hidden;
            
            padding: 0 45px;
            // border-right: 1px solid #AAA6A6;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            color: #282828;
            font: 500 2rem "Poppins";
            gap: 2.5rem;


            .logo {
                display: flex;
                position: relative;
                gap: 10px;
                // right: 5px;
                width: 100%;
                justify-content: flex-start;

                .logo_span {
                    position: relative;
                    top: 4px;
                    left: 10px;
                }
            }

            .logo_name {
                color: #282828;
                font: 500 2rem "Poppins";
            }

            .name {

                text-align: start;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                margin-top: 20px;
                // width: 136px;
                height: 28px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                /* identical to box height, or 175% */

                text-align: center;
                text-transform: capitalize;

                color: #000000;



                .username {

                    position: relative;
                    right: 61px;
                }

                .bar {

                    height: 15px;
                    width: 258px;
                    left: 40px;
                    top: 149px;
                    border-radius: 10px;
                    background-color: #D9D9D9;
                    border: 4px solid #D9D9D9;

                }
            }


            .bars {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                gap: 1.5rem;
                align-items: center;
                color: #2397F3;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                /* identical to box height, or 186% */

                text-align: center;
                text-transform: capitalize;

                color: #2397F3;



            }


            .bar_container {

                width: 100%;
                display: flex;

                flex-direction: column;
                gap: 2.75rem;


                .bars {
                    width: 212px;
                    height: 19px;
                    background: #D9D9D9;
                    border-radius: 10px;
                }
            }
        }

        }

        .rightside {
            flex: 2;
            padding: 30px 40px;

            .bars {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                gap: 1.5rem;
                align-items: center;
                color: #2397F3;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 26px;
                /* identical to box height, or 186% */
                text-align: center;
                text-transform: capitalize;

                >svg {
                    width: 1.5em;
                    height: 1.5em;
                }
            }

            .horiLine {
                width: 792px;
                margin-top: 42px;
                border-bottom: 1px solid #AAA6A6;

            }


            .btn_Wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                // height: 40px;
                padding-top: 20px;
                justify-content: flex-start;
                gap: 5rem;

                .orderbtn {
                    display: flex;
                    gap: 2rem;


                    .order {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font: 400 1.1rem "Poppins";
                    }

                    .btn {
                        display: flex;
                        gap: 10px;

                        >button {
                            box-sizing: border-box;
                            border-radius: 3px;
                            border: none;
                            outline: none;
                            width: 73px;
                            height: 30px;
                            background-color: #C5C2C2;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            // line-height: 26px;
                            /* identical to box height, or 186% */
                            padding: 3px;
                            text-transform: capitalize;

                            color: #4C4848;

                            &:last-child {
                                background-color: #2397F3;
                                color: #FFFFFF;
                            }


                        }
                    }
                }

                .filterbtn {
                    display: flex;
                    gap: 2rem;


                    .filter {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font: 400 1.1rem "Poppins";
                    }

                    .btn_container {
                        display: flex;
                        gap: 10px;

                        >button {
                            padding: 7px 12px;
                            border: none;
                            outline: none;
                            color: #4C4848;
                            background-color: #C5C2C2;
                            border-radius: 3px;
                            font: 400 14px "Poppins";


                        }

                        .same {
                            background-color: #2397F3;
                            color: white;
                        }
                    }
                }
            }



            .nameWrapper {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin-top: 20px;
                gap: 1.2rem;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 22rem;
                    width: 792px;
                    color: #000000;
                    text-transform: capitalize;
                    font: 500 16px "Poppins";
                    padding: 0 5rem;
                    height: 59px;
                    // left: 299px;
                    // top: 175px;

                    background: #FFFFFF;
                    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;


                }
            }

            .detail {


                width: 792px;
                height: 59px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 40px 0 15px;
                gap: 9rem;
                background: #FFFFFF;
                box-shadow: -10px 10px 30px rgba(142, 135, 135, 0.2);
                border-radius: 10px;


                .profile {

                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    >span {
                        font: 500 16px "Poppins";
                        color: #8E8787;


                    }
                }

                .callLogo {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px;
                    gap: 8px;
                    width: 74px;
                    height: 43px;
                    background: #2397F3;
                    border-radius: 40px;



                    >span {
                        color: #FFFFFF;
                    }
                }

                .time {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;
                    /* identical to box height, or 186% */

                    text-transform: capitalize;

                    color: #8E8787;


                }




            }





























        }



    }


    .users_container {

        width: 1178px;
        margin-top: -581px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        .review {
            height: 400px;
            width: 1000px;
            display: flex;
            justify-content: space-around;
            align-items: center;



            .user_card {
                width: 406px;
                height: 288px;
                background: rgba(157, 134, 209, 0.15);
                box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                border-radius: 30px;


                .inner {


                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    // gap: 10px;

                    position: relative;

                    width: 406px;
                    height: 316px;
                    left: 41px;
                    top: 38px;
                    padding: 30px 30px;
                    background: rgba(255, 255, 255, 0.54);
                    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                    border-radius: 30px;

                    .bottomLine {
                        // position: relative;
                        width: 336px;
                        height: 11px;
                        left: 0;
                        top: 0;

                        background: #D9D9D9;
                        border-radius: 10px;
                    }

                    .innerInfo {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-items: center;
                        gap: 2rem;

                        .star {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0 auto;
                            padding: 0 10px;
                            gap: 5px;
                            width: 300px;
                            height: 65px;

                            background: #EFEFEF;
                            box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
                            border-radius: 10px;

                        }


                        .profileImg {

                            display: flex;
                            align-items: center;
                            gap: 1rem;


                            .img_info {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 10px;


                                >span {
                                    &:first-child {


                                        font: 600 20px "Poppins";
                                        line-height: 32px;
                                        text-align: center;
                                        text-transform: capitalize;

                                        color: #000000;
                                    }

                                    &:last-child {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 32px;
                                        /* identical to box height, or 229% */

                                        text-align: center;
                                        text-transform: capitalize;

                                        color: rgba(0, 0, 0, 0.7);


                                        /* Inside auto layout */

                                        flex: none;
                                        order: 1;
                                        flex-grow: 0;
                                    }
                                }

                            }
                        }
                    }
                }
            }




            .user_info {

                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 47px;

                .idea {
                    width: 400px;
                    height: 135px;
                    left: 767px;
                    top: 1329px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 45px;
                    /* or 141% */


                    color: #282828;

                }

                .intrest {
                    width: 294px;
                    height: 60px;
                    left: 767px;
                    top: 1484px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    /* or 136% */


                    color: rgba(0, 0, 0, 0.7);


                }
            }
        }


        .tools {
            height: 400px;
            width: 1000px;
            display: flex;
            flex-direction: row-reverse;
            gap: 9rem;
            align-items: center;

.setting{

    >img{
        &:first-child{
            position: relative;
            top: 134px;
             left: 1255px;
        }

        &:last-child{
            position: relative;
            top: -17px;
             left: 966px;   
        }

    }
  


  
  

}
            .tool_card {
                width: 406px;
                height: 288px;
                background: rgba(157, 134, 209, 0.15);
                box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                border-radius: 30px;

                .inner {
                    display: flex;
                    flex-direction: column;

                    gap: 10px;
                    position: relative;
                    width: 406px;
                    height: 316px;
                    right: 41px;
                    top: 38px;
                    padding: 30px 30px;
                    background: rgba(255, 255, 255, 0.54);
                    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                    border-radius: 30px;


                    .innerInfo {
                        display: flex;
                        flex-direction: column;
                        padding: 0 20px;
                        justify-items: center;
                        gap: 3rem;

                        .toolheader {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 0 auto;
                            padding: 0 10px;
                            gap: 11px;
                            width: 300px;
                            height: 65px;
                            background: #EFEFEF;
                            box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
                            border-radius: 10px;

                            .circle {
                                width: 53px;
                                height: 53px;
                                left: 757px;
                                top: 1780px;
                                border-radius: 50%;
                                background: #2A0896;
                            }

                            .progress_bar {
                                display: flex;
                                flex-direction: column;
                                gap: 7px;

                                .progress {

                                    width: 180px;
                                    height: 0px;
                                    border-radius: 10px;
                                    border: 2px solid rgba(58, 12, 163, 0.3);

                                }

                                .progress_color {
                                    position: relative;
                                    width: 63px;
                                    height: 0px;
                                    bottom: 11px;
                                    border-radius: 10px;


                                    border: 2px solid #3A0CA3;
                                }

                                .bottomline {
                                    width: 164px;
                                    height: 11px;
                                    left: 814px;
                                    top: 1806px;

                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }
                            }
                        }


                        .chartbar {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            padding: 0px;
                            gap: 20px;
                            width: 225px;
                            height: 114px;



                            .firstchart {
                                width: 31px;
                                height: 56px;

                                background: #2A0896;
                                border-radius: 10px;

                                /* Inside auto layout */

                                flex: none;
                                order: 0;
                                flex-grow: 0;

                            }

                            .secondchart {
                                width: 31px;
                                height: 83px;

                                background: #2A0896;
                                border-radius: 10px;

                                /* Inside auto layout */

                                flex: none;
                                order: 1;
                                flex-grow: 0;


                            }

                            .thirdchart {
                                width: 31px;
                                height: 83px;

                                background: #2A0896;
                                border-radius: 10px;

                                /* Inside auto layout */

                                flex: none;
                                order: 2;
                                flex-grow: 0;

                            }

                            .fourthchart {
                                width: 31px;
                                height: 114px;

                                background: #2A0896;
                                border-radius: 10px;

                                /* Inside auto layout */

                                flex: none;
                                order: 3;
                                flex-grow: 0;


                            }

                            .fifthchart {
                                width: 31px;
                                height: 83px;

                                background: #2A0896;
                                border-radius: 10px;

                                /* Inside auto layout */

                                flex: none;
                                order: 4;
                                flex-grow: 0;
                            }

                        }
                    }

                }


            }



            .chartInfo {

                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 70px;

                .para1 {
                    width: 389px;
                    height: 135px;
                    left: 281px;
                    top: 1789px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 45px;



                    color: #282828;

                }

                .para2 {
                    width: 284px;
                    height: 60px;
                    left: 284px;
                    top: 1944px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;



                    color: rgba(0, 0, 0, 0.7);

                }
            }
        }


        .last_card {
            height: 400px;
            width: 1000px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .lcard {
                width: 406px;
                height: 292.2px;
                left: 270px;
                top: 2163px;

                background: rgba(157, 134, 209, 0.15);
                box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                border-radius: 30px;

                .user1 {
                    // width: 65px;
                    // height: 65px;
                    // border-radius: 50%;
                    // left: 274px;

                    // top: 2310.12px;
                    // 
                    // background-color:  #D9D9D9;;
                    // 

                    position: relative;
                    top: 135px;
                    right: -10px;
                    z-index: 99;

                }

                .user2 {
                    position: relative;
                    top: 209px;
                    left: 375px;
                    z-index: 99;
                }

                .inner {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    // gap: 10px;
                    position: relative;
                    width: 406px;
                    height: 316px;
                    left: 41px;
                    top: -86px;
                    padding: 30px 30px;
                    background: rgba(255, 255, 255, 0.54);
                    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
                    border-radius: 30px;












                    .innerInfo {
                        .chat {
                            position: relative;
                            width: 280px;
                            height: 86px;
                            left: 21px;
                            top: 0;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            background: #EFEFEF;
                            box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
                            border-radius: 10px;



                            .bar-container {
                                display: flex;
                                flex-direction: column;
                                padding: 5px 10px;
                                gap: 10px;

                                .fbar {
                                    width: 164px;
                                    height: 11.16px;
                                    left: 372px;
                                    top: 2294.9px;

                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }

                                .sbar {
                                    width: 226px;
                                    height: 11.16px;
                                    left: 372px;
                                    top: 2314.18px;

                                    background: #D9D9D9;
                                    border-radius: 10px;

                                }

                                .lbar {
                                    width: 178px;
                                    height: 11.16px;
                                    left: 372px;
                                    top: 2333.45px;

                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }
                            }




                            .symbol {
                                position: relative;
                                width: 23px;
                                height: 12.18px;
                                right: 269px;
                                top: 36px;


                            }



                        }

                        .chat2 {
                            width: 280px;
                            height: 87px;
                            position: relative;
                            left: 21px;
                            top: 66px;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #EFEFEF;
                            box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
                            border-radius: 10px;

                            .bar-container {
                                display: flex;
                                flex-direction: column;
                                padding: 5px 10px;
                                gap: 10px;

                                .fbar {
                                    position: relative;
                                    width: 164px;
                                    height: 11.16px;
                                    left: 65px;
                                    top: 0;
                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }

                                .sbar {

                                    position: relative;
                                    width: 226px;
                                    height: 11.16px;
                                    left: 10px;
                                    top: 0;
                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }

                                .lbar {
                                    position: relative;
                                    width: 178px;
                                    height: 11.16px;
                                    left: 65px;
                                    top: 0px;
                                    background: #D9D9D9;
                                    border-radius: 10px;
                                }
                            }




                            .symbol2 {
                                width: 23px;
                                position: relative;
                                height: 12.18px;
                                left: 260px;
                                top: 70px;
                                transform: matrix(-1, 0, 0, 1, 0, 0);

                            }
                        }



                    }
                }
            }

            .user_info {

                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 47px;


                .para1 {
                    width: 415px;
                    height: 136.97px;
                    left: 755px;
                    top: 2242.43px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 45px;
                    /* or 141% */


                    color: #282828;

                }

                .para2 {
                    width: 282px;
                    height: 60px;
                    left: 756px;
                    top: 2398px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    /* or 136% */


                    color: rgba(0, 0, 0, 0.7);

                }
            }

        }
    }



    .team {
        width: 1240px;

        height: 581px;
        left: 140px;
        top: 2616.08px;
        display: flex;
        margin-top: 70px;

        justify-content: center;
        align-items: center;
        background: #DDE9FF;
        border-radius: 30px;



        .team_info {

            display: flex;
            flex-direction: column;

            .para1 {
                width: 485px;
                height: 100px;
                left: 174px;
                top: 2764.08px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 50px;
                /* or 125% */


                color: #000000;
            }

            .para2 {
                width: 394px;
                height: 150px;
                left: 174px;
                top: 2891.08px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                /* or 167% */


                color: rgba(0, 0, 0, 0.7);


            }
        }


        .web_container {
            .rightside {
                width: 612px;
                height: 406px;
                left: 681.05px;
                top: 2716.08px;
                padding: 20px 30px;
                background: rgba(255, 255, 255, 0.67);
                backdrop-filter: blur(9.47406px);
                /* Note: backdrop-filter has minimal browser support */
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                border-radius: 12.1343px;


                .bars {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 0 30px;
                    gap: 1.5rem;
                    align-items: center;
                    color: #2397F3;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 26px;
                    text-align: center;
                    text-transform: capitalize;

                    .inbox_contain {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;





                    }

                    .logo {

                        display: flex;

                        >p {
                            color: #282828;
                            text-transform: lowercase;
                            font: 300 18px "Poppins";


                        }

                    }

                }



                .horiLine {
                    width: 500.23px;
                    height: 0px;
                    left: 29.69px;
                    top: 70.74px;

                    border: 0.631604px solid #AAA6A6;
                }

                .btn_Wrapper {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-top: 20px;
                    justify-content: flex-start;
                    gap: 3rem;

                    .orderbtn {
                        display: flex;
                        gap: 2rem;

                        .btn {
                            display: flex;
                            gap: 10px;

                            >button {
                                width: 46px;
                                height: 20px;
                                border: none;
                                outline: none;
                                box-sizing: border-box;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 9px;
                                line-height: 16px;
                                /* identical to box height, or 186% */
                                padding: 0 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;


                                text-transform: capitalize;

                                color: #4C4848;

                                &:last-child {
                                    background-color: #2397F3;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }



                .nameWrapper {
                    width: 557.23px;
                    height: 26.53px;
                    left: 36px;
                    top: 113.69px;

                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    margin-top: 20px;
                    gap: 12px;
                    background: #FFFFFF;
                    box-shadow: -2.52641px 2.52641px 12.6321px rgba(0, 0, 0, 0.05);
                    border-radius: 6.31604px;


                    .title {

                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 22rem;
                        width: 500.23px;
                        height:100%;
                        padding: 0 20px;
                        background: #FFFFFF;
                        // box-shadow: -2.52641px 2.52641px 12.6321px rgba(0, 0, 0, 0.05);
                        // border-radius: 6.31604px;


                        >span {
                            // width: 57px;
                            height: 17px;
                            left: 297.49px;
                            top: 5.05px;

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 8.84245px;
                            line-height: 26px;
                            /* identical to box height, or 186% */

                            text-transform: capitalize;

                            color: #000000;


                        }





                    }







                    .detailWrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;






.first_bar{
    position: relative;
    top: 11px;
    right: 60px;

    .detail{
        width: 673px;
        height: 50px;
        .callLogo{
            height: 34px;
            width: 62px;
        }
    }
}






                    }

                    .detail {
                        width: 552.23px;
                        height: 37.26px;
                        left: 37px;
                        top: 216.43px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0 40px 0 15px;
                        gap: 6rem;
                        background: #FFFFFF;
                        box-shadow: -6.31604px 6.31604px 18.9481px rgba(142, 135, 135, 0.2);
                        border-radius: 6.31604px;




                        .profile {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            >span {
                                width: 90px;
                                height: 21px;

                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 10.916px;
                                line-height: 20px;
                                /* identical to box height, or 186% */

                                text-transform: capitalize;

                                color: #8E8787;


                                /* Inside auto layout */

                                flex: none;
                                order: 0;
                                flex-grow: 0;
                            }
                        }

                        .callLogo {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            // padding: 0 15px;
                            gap: 8px;
                            background: #2397F3;
                            border-radius: 40px;
                            width: 53px;
                            height: 31px;

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 8.73282px;
                            line-height: 16px;
                            /* identical to box height, or 186% */

                            text-transform: capitalize;

                            color: #FFFFFF;



                        }

                        .time {

                            width: 73px;
                            height: 21px;
                            left: 366.47px;
                            top: 13.26px;

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 10.916px;
                            line-height: 20px;
                            /* identical to box height, or 186% */

                            text-transform: capitalize;

                            color: #8E8787;











                        }
                    }
                }
            }


        }

        .filterbtn {
            display: flex;
            gap: 2rem;



            .btn_container {
                display: flex;
                gap: 10px;

                >button {
                    padding: 0 12px;
                    border: none;
                    outline: none;


                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 9px;
                    line-height: 16px;
                    /* identical to box height, or 186% */

                    text-transform: capitalize;



                    &:first-child {
                        color: #4C4848;
                    }


                }


                .same {
                    background-color: #2397F3;
                    color: #FFFFFF;
                }
            }
        }
    }



    .trial_box {
        margin-top: 35px;
        width: 1240px;
        height: 400px;
        left: 0px;
        top: 0px;
        overflow: hidden;
        background: #D9DEEF;
        border-radius: 30px;

        display: flex;





        .imageWrapper {


            >img {
                &:first-of-type {

                    position: relative;
                    height: 258px;

                    transform: rotate(180deg);
                    // z-index: 99;
                    // bottom: 30px;

                }

                &:last-of-type {
                    position: relative;
                    left: 921px;
                    top: 141px;
                    height: 258px;
                }
            }


            .image {
                position: relative;
                bottom: 260px;
                left: 75px;
            }

        }

        .trialinfo {

            display: flex;
            flex-direction: column;


            align-items: center;
            gap: 1.5rem;
            padding: 3rem 0;

            .para1 {
                width: 710px;

                left: 508px;
                top: 3315.61px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 50px;
                /* or 125% */

                text-align: center;

                color: #000000;
            }

            .para2 {
                width: 584px;
                height: 54px;
                left: 571px;
                top: 3487.61px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                text-align: center;

                color: rgba(0, 0, 0, 0.7);

            }

            .trialbtn {


                display: flex;
                justify-content: center;
                align-items: center;
                width: 173px;
                height: 50px;
                left: 636px;
                top: 294px;

                background: #4482C2;
                border-radius: 30px;

                >h3 {
                    width: 117px;
                    height: 50px;
                    left: 664px;
                    top: 294px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 50px;
                    /* identical to box height, or 250% */


                    color: #FFFFFF;
                }
            }
        }
    }



    .footer {
        width: 100vw;
        height: 450px;
        left: -3px;
        top: 3762px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        background: #2A0896;


        .footer_info {
            flex: 2;
            // border: 1px solid red;

            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 0 10.5rem;

            .fir {
                display: flex;
                flex-direction: column;
                gap:12px;
                height: 70%;
                width: 400px;
                // border: 1px solid yellow;
                justify-content: flex-end;

                .logo {


                    >img {
                        width: 37.05px;
                        height: 46.92px;
                    }

                    >span {
                        font: 400 3rem "Poppins";
                        width: 215.31px;
                        height: 40.9px;
                    color: #FFFFFF;
                    position: relative;

                    bottom: 10px ;
                    left: 10px;



                    }
                }

                .info {
                    width: 287px;
                    height: 81px;
                    left: 154px;
                    top: 3923px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;

                    color: #FFFFFF;

                }

                .social {
                    display: flex;
                    align-items: center;
                    gap: 1.1rem;
                }
            }

            .sec {

                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 70%;
                width: 400px;
                // border: 1px solid yellow;
                justify-content: flex-start;
                font-family: 'Poppins';
                margin-left: 130px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 50px;
                /* or 278% */


                color: #FFFFFF;

                .call {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 14px;
                }

                .whatsapp {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 14px;
                }

                .email {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 14px;
                }
            }

            .three {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                height: 70%;
                width: 400px;
                align-items: flex-end;



                >span {

                    position: relative;
                    right: 77px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 60px;
                    /* identical to box height, or 300% */


                    color: #FFFFFF;

                }

                .input {
                    width: 310px;
                    height: 50px;


                    background: #FFFFFF;
                    border-radius: 30px;


                    >span {
                        position: relative;
                        left: 24px;
                        top: 10px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 30px;
                        /* identical to box height, or 167% */


                        color: rgba(0, 0, 0, 0.5);

                    }
                }

                .circle {
                    position: relative;
                    left: 266px;
                    bottom: 32px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: #2A52BE;
                    display: flex;
                    align-items: center;
                    justify-content: center;



                }
            }

        }

        .border_info {
            // border: 1px solid green;
            flex:0.4;
            margin-top: 20px;
            border-top:1px solid #FFFFFF; 
            border-bottom:1px solid #FFFFFF; ;
            display: flex;
justify-content: center;
align-items: center;
> ul{
display: flex;
gap: 42px;
>li{
    font-family: 'Poppins';
font-style: normal;
font-weight: 350;
font-size: 19px;
line-height: 25px;
list-style-type: none;
/* identical to box height, or 156% */


color: #FFFFFF;

    
}
}


        }
        .rights{

            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */

gap: 8px;
color: #FFFFFF;
letter-spacing: 1px;


        }
    }
}